text {
    font-size: 20px;
}
.body {
    font-size: 20px;
}
.linegraph {
    padding: 1rem;
}
.container {
    padding: 2rem 0rem 0rem 0rem;
    background-color: white;
    margin-right: 80px;
}
.me {
    width: 125px;
    margin-left: 25px;
}
.tick {
    opacity: 0.7;
}
.line {
    fill: none;
    stroke: #4FC3F7;
    stroke-width: 5px;
  }
.lowerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #546E7A;
    width: 100%;
    padding: 0rem 10rem;
}
.people {
    display: flex;
    flex-direction: column;
}
  .profile {
	display: flex;
	align-items: center;
	width: 500px;
    height: auto;
    padding: 2rem;
	margin-bottom: 3rem;    
}
.cardItem {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    width:1000px;
    height: 75px;
    color:white;
    
}
.detail {
    color:white;
    font-size: 16px;
    margin-left: 50px;
}
.card {
    background-color:#607D8B;
    display: flex;
    flex-direction: column;
    width: 1000px;
    color: white;
    border: 0px;
    height:100%;
    
}
.name {
    font-size: 24px;
    color: white;
    margin-left: 50px;
}
.doctorDashboard {
    display: flex;
    justify-content: space-between;
}
.LHS {
    background-color: #546E7A;
}

.doctorProfile {
    margin-bottom: 1rem !important;
    padding: 1rem !important;
    font-size: 16px !important;
}

.doctorProfile:hover {
    background-color: rgb(103, 134, 148);
}
.doctorcontainer {
    padding: 4rem 0 1rem 1rem;
    background-color: white;
}
.doctorcard {
    display: flex;
    flex-direction: column;
    width: 1000px;
    color: white;
    border: 0px;
    height:100%;
    
}
.doctorcardItem {
    display: flex;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width:1000px;
    height: 75px;
    color:black;
    border: 1px;
}
.doctorcardItem:hover {
    background-color: azure;
}
.doctorDate {
    font-size: 12px;
    color: black;
    opacity: 0.7;
}